<div class="container">
  @if (mensajeAviso) {
    <div class="aviso">
      {{ mensajeAviso }}
    </div>
  }

  <h2>Gestión de Usuarios Registrados</h2>
  <div class="tabla">
    <table>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Username</th>
        <th>Email</th>
        <th>Fecha de registro</th>
        <th>Cuenta activa</th>
        <th>Acciones</th>
      </tr>

        @for (u of usuarios; track u.id) {
        <tr>
          <td>{{ u.id }}</td>
          <td>{{ u.nombre }}</td>
          <td>{{ u.apellido }}</td>
          <td>{{ u.username }}</td>
          <td>{{ u.email }}</td>
          <td>{{ u.fechaRegistro }}</td>
          <td>{{ u.cuentaActiva }}</td>
          <td class="acciones">
            <button (click)="abrirEdicion(u)">Editar</button>
            <button (click)="eliminarUsuario(u.id)">Eliminar</button>
          </td>
        </tr>
        } 
    </table>
  </div>

  @if (usuarioEditando) {
    <div class="edicion">
      <div class="content">
        <h3>Editando: {{ usuarioEditando.nombre }}</h3>
        
        <label>Nombre:</label>
        <input [(ngModel)]="usuarioEditando.nombre" type="text">

        <label>Apellidos:</label>
        <input [(ngModel)]="usuarioEditando.apellido" type="text">
    
        <label>Username:</label>
        <input [(ngModel)]="usuarioEditando.username" type="text">
    
        <label>Email:</label>
        <textarea [(ngModel)]="usuarioEditando.email"></textarea>
      
        <div>
          <button (click)="guardarEdicion()">Guardar Cambios</button>
          <button (click)="usuarioEditando = null">Cancelar</button>
        </div>
      </div>
    </div>
    }
</div>
