<header class="header">
  <div class="logo">
    <img src="/img/logo.png" alt="logo" width="100px" height="100px" />
    <h2>YourCurlyCare</h2>
  </div>

  <nav>
    <ul class="nav">
      @if (!authService.isAdmin()) {
      <li class="barra">|</li>
      <li><a routerLink="/inicio">Inicio</a></li>
      <li class="barra">|</li>
      <li><a routerLink="/cuidados">Cuidados</a></li>
      <li class="barra">|</li>
      <li><a routerLink="/escaner">Escáner</a></li>
      <li class="barra">|</li>
      <li><a routerLink="/test">Test</a></li>
      <li class="barra">|</li>
      }
      
      @if (authService.isAdmin()) {
      <li class="barra">|</li>
      <li><a routerLink="/usuarios">Usuarios</a></li>
      <li class="barra">|</li>
      <li><a routerLink="/productos">Productos</a></li>
      <li class="barra">|</li>
      }
    </ul>
  </nav>

  <!--Los iconos son de la web de Icons8: -->
  <div class="icons">
    <div class="containerSearch">
      <input
        #entrada
        type="text"
        placeholder="Buscar producto..."
        (input)="onBuscar(entrada.value)"
      />
      <img src="https://img.icons8.com/ios/50/search--v1.png" alt="search" />

      @if (resultados.length > 0) {
      <ul class="sugerencias">
        @for (item of resultados; track item.id) {
        <li>
          <strong>{{ item.nombre }}</strong> - <span>{{ item.marca }}</span>
        </li>
        }
      </ul>
      } @else if (buscando) {
      <ul class="sugerencias">
        <li>No se han encontrado resultados</li>
      </ul>
      }
    </div>

    <div class="containerPerfil">
      <span class="icon" (click)="desplegarPerfil()">
        <img src="https://img.icons8.com/material-rounded/24/user.png" alt="user" />
      </span>

      @if (mostrarOpcionesPerfil) {
      <div class="opcionesPerfil">
        @if (authService.usuarioActual()) {
        <p>Hola, {{ authService.usuarioActual() }}</p>
        <a (click)="salir()">Cerrar sesión</a>
        } @else {
        <a routerLink="/login" (click)="desplegarPerfil()">Iniciar sesión</a>
        <a routerLink="/registro" (click)="desplegarPerfil()">Registrarse</a>
        }
      </div>
      }
    </div>
  </div>
</header>
