@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');

* {
  font-family: 'Alegreya';
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

h2 {
  font-family: 'Akaya Kanadaka';
  font-size: 35px;
  text-align: center;
  margin: 25px;
}

h3 {
  font-family: 'Akaya Kanadaka';
  text-align: center;
}

button {
  padding: 8px 25px;
  margin: 15px;
  color: white;
  background-color: #d0b49f;
  border: 1px solid #ac7f5e;
  border-radius: 8px;
  box-shadow: 2px 2px 2px gray;

  margin-bottom: 50px;
}

button:hover {
  color: black;
  transform: scale(1.05);
}

.botones {
  text-align: center;
}

#camara {
  width: 100%;
  max-width: 600px;
  height: 300px;
  background: white;
  text-align: center;
  border: 3px solid #ac7f5e;
  position: relative;
  overflow: hidden;
}

#camara video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  border: 5px solid #ac7f5e;
  box-shadow: 2px 2px 2px gray;
  border-radius: 15px;
  background: #d0b49f;

  width: 100%;
  max-width: 500px;

  padding: 20px 50px;
  margin: 50px;
}

.detalles {
  border: 2px solid #ac7f5e;
  padding: 10px 15px;
}

.detalles ul{
  margin: 10px;
}

.detalles p {
  text-align: left;
}

.campos {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  font-size: 16px;
  color: black;
  margin-top: 10px;
  font-weight: bold;
}

input,
textarea {
  padding: 6px 8px;
  border: 2px solid #d0b49f;
  border-radius: 8px;
  font-size: 14px;
  transition: border-color 0.3s ease;
  font-family: inherit;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

textarea {
  margin-top: 10px;
}

.formulario {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 2px 5px gray;
  box-sizing: border-box;
}

/*----Responsive----*/
@media (max-width: 800px) {
  #camara,
  .formulario {
    max-width: 450px;
  }

  .info {
    max-width: 350px;
  }
}

@media (max-width: 400px) {
  button {
    padding: 6px 15px;
    font-size: 10px;
  }

  #camara,
  .formulario {
    max-width: 300px;
  }

  .info {
    max-width: 200px;
  }
}
